certifi==2024.6.2
charset-normalizer==3.3.2
cmake==3.30.0
idna==3.7
imutils==0.5.4
joblib==1.4.2
numpy==1.26.4
opencv-contrib-python==4.10.0.82
opencv-python-headless==4.10.0.84
requests==2.32.3
scikit-learn==1.5.1
scipy==1.14.0
threadpoolctl==3.5.0
urllib3==2.2.1
